asgiref==3.7.2
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.11.17 
charset-normalizer==3.3.2
Django==4.2.8
idna==3.6
lxml==4.9.3
pysqlite3==0.5.2
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.1.0
