{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <title>GNDEC News {% block title %}{% endblock %}</title>

</head>
<body>

    <header>
        <div class="logo-container">
            <h4 class="logo1"><a href="/home">GNDEC</a></h4> <h4 class="logo2"><a href="/home">News</a></h4>
        </div>

        {% comment %} <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg"></div>
                <div class="col-sm-auto">
                    <nav class="navbar">


                        <nav class="navbar">
                            <ul class="nav">
                            <li class="nav-link"><a href="/"> <i>English</i> </a> </li>
                            <li class="nav-link"><a href="/hindi"> <i>Hindi</i> </a> </li>
                        </ul>
                        <ul class="nav nav-tabs">
    
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/hindi">घर</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="/hindi/business">व्यवसाय</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="/hindi/indin">भारत</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="/hindi/sports">खेल</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="/hindi/world">दुनिया</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="/hindi/politics">राजनीति</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="/hindi/technology">तकनीकी</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="/hindi/startup">व्यापार स्टार्टअप</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="/hindi/entertainment">मनोरंजन</a>
                                  </li>                         
                            </ul>


                    </nav>
                </div>
            </div>
        </div> {% endcomment %}

        <nav class="navbar navbar-expand-sm navbar-block bg-block">
                      
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/hindi">घर <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/hindi/business">व्यवसाय</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/hindi/indin">भारत</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/hindi/world">दुनिया</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  अधिक समाचार
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/hindi/sports">खेल</a>
                  <a class="dropdown-item" href="/hindi/politics">राजनीति</a>
                  <a class="dropdown-item" href="/hindi/technology">तकनीकी</a>
                  <a class="dropdown-item" href="/hindi/startup">व्यापार स्टार्टअप</a>
                  <a class="dropdown-item" href="/hindi/entertainment">मनोरंजन</a>
                  <a class="dropdown-item" href="/hindi/miscellaneous">विविध</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  भाषा
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/">English</a>
                  <a class="dropdown-item" href="/hindi">Hindi</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
    </header>

    {% block content %}

    {% endblock %}


</body>
</html>