      <div class="logo-container">
            <h4 class="logo1"><a href="/">GNDEC</a></h4> <h4 class="logo2"><a href="/">News</a></h4>
        </div> 
       <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg"></div>
                <div class="col-sm-auto"> 
                  <nav class="navbar navbar-expand-lg navbar-block bg-block"> 
                        <ul class="nav">
                        <li class="nav-link"><a href="/"> <i>English</i> </a> </li>
                        <li class="nav-link"><a href="/hindi"> <i>Hindi</i> </a> </li>
                    </ul>
                    <!-- <div class="container-fluid"> -->
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    
                        <span class="navbar-toggler-icon"></span>
                    
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/business">Business</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/indin">India</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/sports">Sports</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/world">World</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/politics">Politics</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/technology">Technology</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/startup">startup</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/entertainment">Entertainment</a>
                              </li>                         
                        </ul>
                </div>

                    </nav> 